{%  extends 'customers/main.html' %}
{% block content %}

<a class="btn btn-primary" href="{% url 'home' %}" role="button">Home</a>
<div class="text-nowrap" style="width: 8rem;">
  Share your medical records with Dr. {{doc.name}}
</div>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Title</th>
					<th>Document</th>
					<th>Action 1</th>th>
					<th>Action 2</th>
				</tr>

        {% for record in records %}

        <tr>
          <td>{{record.title}}</td>
          <td>{{record.document}}</td>
          <td><a href="{% url 'download' record.id %}" class="btn btn-sm btn-info">Download</a>
          <td><a class="btn btn-sm btn-info" href="{% url 'share_record' doc.id record.id %}">Share</a></td>
        </tr>
        {% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock content %}
