{%  extends 'customers/main.html' %}
{% block content %}

<a class="btn btn-primary" href="{% url 'home' %}" role="button">Home</a>
<h2><strong> Share your medical records with Dr. {{doc.name}} </strong></h2>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Title</th>
					<th>Document</th>
					<th></th>
				</tr>

        {% for record in records %}

        <tr>
          <td>{{record.title}}</td>
          <td>{{record.document}}</td>
          <td><a class="btn btn-sm btn-info" href="{% url 'share_record' doc.id record.id %}">Share</a></td>
        </tr>
        {% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock content %}
